.Footer{
    height: 9%;
}
.Footer_content{

 display: flex;
 align-items: center;
 justify-content: center;
 height: 100%;
 /* border: 1px solid blueviolet; */
}

form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
   flex: 1;
   padding: 10px;
}
form > input{
 /* height: 25px;   */
 padding: 10px;
 border-radius: 30px; 
 flex: 1;
 border: none;
 padding-left: 30px;

}
form> button {
    flex: .1;
    padding: 8px;
    border-radius: 20px;
    margin-left:5px ;
    font-weight: 300;

}