.message_container{
    display: flex;
    gap: 3rem;
}
.Message{
    /* background-color: red; */
    margin: 12px 0 5px;
    padding: 8px;
    border-radius: 8px;
    /* border:1px solid red;  */
    background-color: #1c2024;
    /* display: inline-block; */
    min-width: auto;
    max-width: 40%;
}
@media only screen and (max-width: 600px) {
    .Message{max-width: 80%;}
  }
  @media only screen and (min-width: 768px) {
    .Message{max-width: 80%;}

  }