*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
.App{
  background-color: #121212;
  color: #dbdbdb;
  font-family: 'Poppins', sans-serif;
  height: 100vh;

}
.container{
  width: 45%;
  margin: 0 auto;
  border: 1px #dbdbdb solid ;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}